/* ==========================
   DESKTOP (default)
========================== */

* {
  font-family: "IBM Bios 2y", monospace;
}

@font-face {
  font-family: "IBM Bios 2y";
  src: url("assets/fonts/Ac437_IBM_PGC-2x.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "IBM Bios 2y", monospace;
  color: #00ff66;
  background-color: #001a10;
  text-shadow: 0 0 8px rgba(0, 255, 102, 0.35);
  min-height: 100vh;
  overflow-y: auto;
  animation: flicker 0.1s infinite;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0.15) 3px
  );

  z-index: 9999;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.98; }
  100% { opacity: 1; }
}

.file {
  cursor: pointer;
  padding: 5px;
  width: fit-content;
}

.file:hover {
  background: rgba(0, 255, 102, 0.1);
}

#player-container {
  margin-top: 20px;
}

#close-player {
  margin-top: 10px;
  background: #001a10;
  color: #00ff66;
  border: 1px solid #00ff66;
  font-family: monospace;
  cursor: pointer;
}

.folder {
  cursor: pointer;
  padding: 8px 0;
  color: #00ff66;
  text-shadow: 0 0 6px rgba(0, 255, 102, 0.5);
}

.files {
  margin-left: 20px;
}

.terminal {
  margin-left: 40px;
  margin-top: 30px;
}

.ui {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #001100;
  border: 1px solid #00ff66;
  padding: 20px;
  width: 70%;
  max-width: 800px;
  color: #00ff66;
  box-shadow: 0 0 20px rgba(0, 255, 102, 0.3);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ui input {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  padding: 5px;
}

.ui button {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
  box-sizing: border-box;  
  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  padding: 6px 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ui h3 {
  text-align: center;
  width: 100%;
}

pre {
  white-space: pre-wrap;
}

#text-panel {
  max-height: 70vh;
  overflow-y: auto;
}

#text-content {
  max-height: 50vh;
  overflow-y: auto;
  white-space: pre-wrap;
}

#loading-text {
  text-align: center;
  min-height: 60px;
}

.warning {
  color:red;
  text-shadow: 0 0 8px red;
}

.hidden {
  display: none;
}

/* ==========================
   MOBILE
========================== */

@media (orientation: portrait) {

  body {
    font-size: 2.6rem;
  }

  .terminal {
    margin-left: 60px;
    margin-right: 60px;
  }

  .ui {
    width: 90%;
  }

  .ui button {
  width: 80%;
  padding: 32px;
  font-size: 2.5rem;
  }

  .ui input {
  width: 80%;
  display: block;
  margin: auto;
  text-align: center;
  box-sizing: border-box;

  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;

  padding: 12px;
  font-size: 2.6rem;
  }

}